.container{
    display: grid;
    grid-template-rows: 1fr 4fr 0.25fr;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: none;
}

nav li{
    list-style: none;
    padding: 20px;
    text-align: right;
}

nav .fas.fa-times-circle{
    display: none;
}

nav .fas.fa-bars{
    display: block;
}

img.mepic{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 30%;
    padding: 20px;
    
}

.aboutme{
    text-align: center;
    padding: 30px;
}

.project{
    text-align: center;
    padding-bottom: 30px;
}

.contactme{
    text-align: center;
    padding-bottom: 30px;
}

footer{
    background-color: blue;
}